<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>영수증</title>
</head>

<body>
	<a href="/">Home</a>
    <h1>영수증</h1>
    <h2>Recipes</h2>
    <% if (recipes.length <= 0) { %>
    No recipes
    <% } else { %>
    <ul>
        <% for (var i=0; i<recipes.length; ++i) {
                var recipe = recipes[i];
        %>
            <li>
                <a href="/recipe/<%= recipe['team'] %>/<%= recipe['subject'] %>"><%= recipe['team'] %> - <%= recipe['subject'] %></a>
            </li>
        <% } %>
    </ul>
    <% } %>
    <br/>
    <h2>Add Recipe</h2>
    <form id="add" method="post" action="/recipe/add">
        <table>
            <tr>
                <td>Team</td>
                <td>기간(Subject)</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="team" />
                </td>
                <td>
                    <input type="text" name="subject" />
                </td>
                <td>
                    <input type="submit" />
                </td>
            </tr>
        </table>
    </form>
    <p>
All your receipt are belong to me.
    </p>
</body>
</html>
